* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}
@font-face {
    font-family: trajan;
    src: url(../fonts/Trajan_Pro_Regular.woff);
}
h1, h2, nav, label {
	font-family: trajan, serif;
}
.glyphicon-info-sign{
	cursor: pointer;
}
.large-first-letter::first-letter {
	font-size: 200%; /* Make first letter of each paragraph larger */
	font-family: trajan, serif;
}
.main-article p, .side-article p{
	font-family: 'Roboto', sans-serif;
	line-height: 200%; /* Double space */
}
.affix + .center-area {
	padding-top: 100px;
}
.my-slider.automatic-slider,
figure,
#info,
#logo-small, 
#logo-big, 
.local-nav{
	display: none; /* Hide these elements for the mobile site */
}
#info { /* info button on image */
	position: relative;
	bottom: 100px;
    padding-left: 12px;
    color: lightgrey;
    opacity: 0.7;
    font-size: 150%;
    z-index: 1;
}
figcaption {
	visibility: hidden;
	position: relative;
    bottom: 65px;
    font-size: 60%;
    width:100%;
    background-color: black;
    opacity: 0.6;
    text-align: center;
    color: lightgrey;
    padding: 10px;
    height: 45px;
    text-decoration: underline;
    text-align: right;
}
/* This holds the page picture, the main-article, local nav, and the side-article */
.center-area{
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}
.side-article, .main-article{
	display: block;
	width: 100%;
}
.side-article {
	background-color: #EEEEEE; /* The light-gray color */
}
h1 {
	padding-bottom: 40px; /* To match h2 while keeping left edge inline */
}
.side-article p, h2{
	padding: 20px;
}
.footer, .footer a:visited {
	display: inline-block;
	text-align: center;
	height: 40px;
	width: 100%;
	margin-top: 10px;
}
.nav-div>a:hover, .footer a, .footer a:visited {
	color: #536987; /* Blue color */
}
.footer:hover, .main-article li a:hover {
	text-decoration: underline;
}
#logo-big{
		margin-left: 12%;
		/*margin-top: 10px;*/
		margin-bottom: 10px;
}

/* Start of DHTML Component */
#logo-big img {
	animation: bouncing 3s infinite;
}
@keyframes bouncing {  
    0% {
        margin-top: 15px;
        margin-bottom: 10px;
    }
    50% {
        margin-top: 25px;
        margin-bottom: 0px;
    }
    100% {
        margin-top: 15px;
        margin-bottom: 10px;
    }
}
/* End of DHTML Component */

@media (min-width: 500px) {
	.center-area{
		padding-top: 30px; /* To display the img and articles below nav */
	}
}
@media (min-width: 768px) {
	.center-area {
		width: 75%;
	}
	.center-area img{
		display: block;
		width: 100%;
		margin-bottom: 20px;
	}
	#logo-big,
	figure,
	#info,
	.my-slider.automatic-slider{
		display: block;
	}
	.hamburger {
		display: none;
	}
}
@media (min-width: 1000px) {
	.main-article {
		float: left;
		width: 65%;
		height: 100%;
	}
	.side-article {
		float: right;
		width: 30%;
	}
	.local-nav {
		display: block;
	}
	.local-nav-item {
		width: 96%;
		margin:2%;
		background-color: white;
		height: 140px;
	}
	.local-nav-item img {
		height: 100%;
	}
}
